---
---

$primary: #ff82d9;

.block {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.columns {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.styled_h1 {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.styled_hr {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

// Import Main CSS file from theme
@import "main";

