---
---

.title.is-2 {
	color: black;
}
.title {
	color: black;
}
.is-2 {
	color: black;
}

$primary: #ff82d9;
// Import Main CSS file from theme
@import "main";

.title.is-2 {
	color: black;
}
.title {
	color: black;
}
.is-2 {
	color: black;
}
