---
layout: default
---

<div class="content">

	<div class="container is-max-desktop">
    	<p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
	</div>

	<div class="container is-max-desktop">
    	{{ content }}
	</div>
</div>

<div class="tags">
	<div class="container is-max-desktop">
    	{% for tag in page.tags %}
    	  {% include tag.html tag=tag %}
    	{% endfor %}
	</div>
</div>

<div class="container is-max-desktop">
	{% unless site.hide_share_buttons %}
	{% include share-buttons.html %}
	{% endunless %}
</div>

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
